language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

# command to install dependencies
install:
  - pip uninstall -y numpy
  - pip install --upgrade pip
  - python setup.py install

# command to run tests
script:
  - nosetests --nologcapture -w Tests/

notifications:
  webhooks: https://fathomless-fjord-24024.herokuapp.com/notify
